@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #0D47A1;
  --color-primary-light: #5472d3;
  --color-primary-dark: #002171;
  --color-accent: #F9A825;
  --color-accent-light: #ffd95b;
  --color-accent-dark: #c17900;
  --color-text: #263238;
  --color-text-light: #eceff1;
  --color-background-light: #F5F7FA;

  --font-sans: "Inter", sans-serif;
  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-body text-text bg-background-light antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading text-primary;
  }
}

/* Custom premium scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}